<html>

{% extends "app_home/base.html" %}

{% load static %}

{% block content %}

<!-- Hero Section -->
    <section id="hero" class="hero section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 align-items-center">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="hero-content">
              <h1 data-aos="fade-up" data-aos-delay="200">Bienvenido al mundo de <span class="highlight">Fórmula 1</span></h1>
              <h2 data-aos="fade-up" data-aos-delay="300">Lleno de <span class="typed" data-typed-items="Velocidad, Adrenalina, Tecnología, Emoción"></span></h2>
              <p data-aos="fade-up" data-aos-delay="400">Como la categoría más alta de carreras internacionales de monoplazas, la Fórmula 1 es la cumbre del automovilismo y la competición de carreras de motor más prestigiosa del mundo.</p>
              <div class="hero-actions" data-aos="fade-up" data-aos-delay="500">
                <a href="/historia/" class="btn btn-primary">Conoce más</a>
                <a href="/contacto/" class="btn btn-outline">¿Tienes preguntas?</a>
              </div>
              <div class="social-links" data-aos="fade-up" data-aos-delay="600">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
                <a href="#"><i class="bi bi-github"></i></a>
                <a href="#"><i class="bi bi-dribbble"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <div class="hero-image" data-aos="zoom-in" data-aos-delay="300">
              <div class="image-wrapper">
                <img src="{% static 'app_home/img/f1.jpg' %}" class="img-fluid">
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Hero Section -->

{% endblock %}

</html>